.card{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: row;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 0.25rem;
}
.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 2.25rem;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.bgc-lightblue{background-color: lightblue;}
.bgc-darkgray{background-color: darkgray;}
.br-color{border-color: darkgray;}

.bottom-detalle{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-weight: 600 !important;
	color: black !important;
}


